<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733368044163-o9kjrmkvejoj61v020bl5t0nrpq77d4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733368044163-o9kjrmkvejoj61v020bl5t0nrpq77d4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDS-lwQMH3xEaJAkJdEBHk9ZQ-df5VEQMk</string>
	<key>GCM_SENDER_ID</key>
	<string>733368044163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walle</string>
	<key>PROJECT_ID</key>
	<string>walle-d2e15</string>
	<key>STORAGE_BUCKET</key>
	<string>walle-d2e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733368044163:ios:5bd4f51eeef3726d26a9b6</string>
</dict>
</plist>